@import "./root.css";

body{
    display: grid;
    justify-items: center;
    background-color: var(--main-bg-color);
}

.formular{
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}


@media screen and (min-width:320px) and(max-width: 480px) {
    fieldset{
        width: 100vw;
    }
    fieldset >input{
        width: 85vw;
    }
}

@media screen and (min-width:481px) and(max-width: 768px) {
    fieldset{
        width: 85vw;
    }
    fieldset >input{
        width: 75vw;
    }
}

@media screen and (min-width:769px) and(max-width: 1024px) {
    fieldset{
        width: 75vw;
    }
    fieldset >input{
        width: 65;
    }
}

@media screen and (min-width:1025px) and(max-width: 1200px) {
    fieldset{
        width: 50vw;
    }
    fieldset >input{
        width: 35vw;
    }
}