@import "./root.css";

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

.formular{
    position: inherit;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 50vw;
    background-color: var(--main-accent-color);
}

.formular input{
    width: 35vw;
}


@media screen and (max-width: 480px) {
    .formular{
        width: 100vw;
    }
    .formular input{
        width: 85vw;
    }
}

@media screen and (max-width: 768px) {
    .formular{
        width: 85vw;
    }
    .formular input{
        width: 75vw;
    }
}

@media screen and (max-width: 1024px) {
    .formular{
        width: 75vw;
    }
    .formular input{
        width: 65vw;
    }
}

@media screen and (max-width: 1200px) {
    .formular{
        width: 50vw;
    }
    .formular input{
        width: 35vw;
    }
}